/*
  Project                     : Oriole
  Module                      : Utils
  File name                   : oriole.css
  Description                 : Styles for oriole views
  Copyright                   : Copyright © 2014, Audvisor Inc.
  Written under contract by Robosoft Technologies Pvt. Ltd.
  History                     :
 */
div.dataTables_info
{
    font-weight: bold;
}

div.dataTables_length label
{
    font-weight: bold;
}

div.dataTables_filter label
{
    font-weight: bold;
}

textarea
{
    resize: none;
}

#successMsg
{
    margin-top: 2px;
    display: none;
}

#alertMsg
{
    margin-top: 1%;
    display: none;
}

#alertMsg1
{
    margin-top: 1%;
    display: none;
}

#alertMsgexpertweight
{
    margin-top: 1%;
    display: none;
}

#alertMsgfirstweight
{
    margin-top: 1%;
    display: none;
}

#alertMsgsecondweight
{
    margin-top: 1%;
    display: none;
}

#alertMsgthirdweight
{
    margin-top: 1%;
    display: none;
}

#alertMsgfourthweight
{
    margin-top: 1%;
    display: none;
}

#alertMsg2
{
    margin-top: 1%;
    display: none;
}

#alertMsginsightcount
{
    margin-top: 1%;
    display: none;
}

#previewinsight
{
    margin-top: 3%;
}

.nav-pills
{
    margin-top: 1%;
}

.panel-body
{
    width: 100%;
    overflow: auto;
}

#newtopicAdd
{
    margin-top: 2%;
    width: 100%;
}

#addversion
{
    margin-top: 2%;
}

#addexpert
{
    margin-top: 2%;
}

#topicaddpanelbody
{
    margin-left: 10%;
}

#topicaddpanelbody1
{
    margin-left: 0%;
}

#gensettingspanelbody
{
    margin-left: 0%;
}

#topicaddcontainer
{
    width: 98%;
    margin-right: 2%;
}

#topicaddnavpills
{
    margin-left: 20%;
}

#gsettingsnavpills
{
    margin-left: 20%;
}

#previewversion
{
    margin-top: 2%;
}

#previewversioncontainer
{
    width: 90%;
    margin-right: 5%;
}

#previewexpertcontainer
{
    width: 90%;
    margin-right: 5%;
}

#previewexpert
{
    margin-top: 2%;
}

#editexpert
{
    margin-top: 2%;
    display: none;
}

#imgnotavailable
{
    visibility: hidden;
}

#previewimage
{
    border: 1px solid #0174DF;
    visibility: hidden;
}

#forgotpasswordcntr
{
    margin-top: 15%;
    width: 45%;
}

#hiddendiv
{
    display: none;
}

#expertpreviewbutton
{
    display: none;
}

#editinsight
{
    margin-top: 3%;
}

#previewtopicform
{
    display: none;
}

#insightpanelbody
{
    overflow: inherit;
}

#editinsightpanelbody
{
    overflow: inherit;
}

#actionstable
{
    table-layout: fixed;
}

#actionstable th,
#actionstable td
{
    text-align: center;
}

#versiontable th,
#versiontable td
{
    text-align: center;
}

#experttable th
{
}

#versiontable
{
    overflow: auto;
}

#previewversion
{
    margin-top: 2%;
}

#editversioncontainer
{
    width: 90%;
    margin-right: 5%;
}

#previewversioncontainer
{

    width: 90%;
    margin-right: 5%;
}

#editversion
{
    margin-top: 2%;
}

#versioncontainer
{
    margin-top: 1%;
}

#logincontainer
{
    margin-top: 100px;
}

#loginCredentialsError
{
    text-align: center;
    display: block;
}

#editinsightcontainer
{
    width: 100%;
    margin-right: 15%;
}

#newtopicaddcontainer
{
    width: 100%;
    margin-right: 0%;
}

#topicpreviewbutton
{
    display: none;
}

#editexpertcontainer
{
    width: 100%;
    margin-right: 0%;
}

#expertsmaincontainer
{
    margin-top: 1%;
}

#editexpertpanelbody
{
    margin-left: 0%;
}

#previewexpertimage_2x
{
    border: 1px solid #0174DF;
}

#ebioimage
{
    border: 1px solid #0174DF;
}

#ethumbnailimage
{
    border: 1px solid #0174DF;
}

#epromoimage
{
    border: 1px solid #0174DF;
}

#expertspreviewmodal
{
    width: 100%;
    overflow: auto;
}

#previewexpertForm
{
    width: 100%;
}

#previewdeletedexpert
{
    margin-top: 2%;
}

#previewdeletedexpertcontainer
{
    width: 100%;
    overflow: auto;
}

#previewdeletedexpertForm
{
    width: 100%;
}

#previewdeletedimage
{
    border: 1px solid #0174DF;
}

#topicscontainer
{
    margin-top: 1%;
}

#topictable
{
    overflow: auto;
}

#topictable th
{
    text-align: center;
}

#newtopicEdit
{
    margin-top: 2%;
}

#newtopicEditcontainer
{
    width: 100%;
    margin-right: 0%;
}

#newtopicEditFormpanelbody
{
    margin-left: 0%;
}

#previewtopicimage_2x
{
    border: 1px solid #0174DF;
}

#newtopicaddcontainer
{
    width: 98%;
    margin-right: 2%;
}

#newtopicaddpanelbody
{
    margin-left: 10%;
    width: 100%;
}

#topicpreviewimage
{
    border: 1px solid #0174DF;
}

#expiddel
{
    display: none;
}

#pimages
{
    border: 1px solid #0174DF;
}

#pbioimage
{
    border: 1px solid #0174DF;
}

#pthumbnailimage
{
    border: 1px solid #0174DF;
}

#pthumbimage
{
    border: 1px solid #0174DF;
}

#actionscontainer
{
    border: 1px solid #0174DF;
}

#ppromoimage
{
    border: 1px solid #0174DF;
}

#pfbshareimage
{
    border: 1px solid #0174DF;
}

#pimagesspan
{
    float: left;
}

#pbioimagespan
{

    float: right;
}

#pfbshareimagespan
{

    float: right;
}

#plistviewimagespdan
{
    float: left;
}

#pthumbnailimagespan
{
    float: left;
}

#ppromoimagespan
{
    float: right;
}

#dpbioimagespan
{
    float: left;
}

#dpbioimagespan
{
    float: right;
}

#dpthumbnailimagespan
{
    float: left;
}

#dppromoimagespan
{
    float: right;
}

#editinsightweight
{
    margin-top: 2%;
    width: 100%;
}

#insightweighteditcontainer
{
    width: 100%;
    margin-right: 0%;
}

#insightcountcontainer
{
    width: 100%;
    margin-right: 0%;
}

#newtopicaddpanelbody
{
    margin-left: 10%;
    width: 100%;
}

#previeweditinsightweight
{
    margin-top: 2%;
    width: 100%;
}

#previewinsightweighteditcontainer
{
    width: 100%;
    margin-right: 0%;
}

#previewnewtopicaddpanelbody
{
    margin-left: 10%;
    width: 100%;
}

#editexpertweight
{
    margin-top: 2%;
    width: 100%;
}

#expertweighteditcontainer
{
    width: 100%;
    margin-right: 0%;
}

#previeweditexpertweight
{
    margin-top: 2%;
    width: 100%;
}

#previewexpertweighteditcontainer
{
    width: 100%;
    margin-right: 0%;
}

#editfirstweight
{
    margin-top: 2%;
    width: 100%;
}

#firstweighteditcontainer
{
    width: 100%;
    margin-right: 0%;
}

#previeweditfirstweight
{
    margin-top: 2%;
    width: 100%;
}

#previewfirstweighteditcontainer
{
    width: 100%;
    margin-right: 0%;
}

#editsecondweight
{
    margin-top: 2%;
    width: 100%;
}

#secondweighteditcontainer
{
    width: 100%;
    margin-right: 0%;
}

#previeweditsecondweight
{
    margin-top: 2%;
    width: 100%;
}

#previewsecondweighteditcontainer
{

    width: 100%;
    margin-right: 0%;
}

#editthirdweight
{
    margin-top: 2%;
    width: 100%;
}

#thirdweighteditcontainer
{

    width: 100%;
    margin-right: 0%;
}

#previeweditthirdweight
{
    margin-top: 2%;
    width: 100%;
}

#previewthirdweighteditcontainer
{
    width: 100%;
    margin-right: 0%;
}

#editfourthweight
{
    margin-top: 2%;
    width: 100%;
}

#editinsightcount
{
    margin-top: 2%;
    width: 100%;
}

#fourthweighteditcontainer
{
    width: 100%;
    margin-right: 0%;
}

#previeweditfourthweight
{
    margin-top: 2%;
    width: 100%;
}

#previeweditinsightlimit
{
    margin-top: 2%;
    width: 100%;
}

#previewfourthweighteditcontainer
{
    width: 100%;
    margin-right: 0%;
}

#previewinsightlimiteditcontainer
{
    width: 100%;
    margin-right: 0%;
}

#plistviewimage
{
    border: 1px solid #0174DF;
}

#elistviewimage
{
    border: 1px solid #0174DF;
}

#efbshareimage
{
    border: 1px solid #0174DF;

}

#editexpertvoplayer
{
    widtth: 100%;
}

#mli
{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#mlic
{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#mle
{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#mlec
{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#mlt
{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#mltc
{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.dtright
{
    align: right;
}

.dtleft
{
    align: left;
}

.dtcenter
{
    align: center;
}

#newpromocodeAdd
{
    margin-top: 2%;
    width: 100%;

}

:focus
{
    outline: none;
}

.row
{
    margin-right: 0;
    margin-left: 0;
}

.side-menu
{
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: #f8f8f8;
    border-right: 1px solid #e7e7e7;
}

.side-menu .navbar
{
    border: none;
}

.side-menu .navbar-header
{
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
}

.side-menu .navbar-nav .active a
{
    background-color: transparent;
    margin-right: -1px;
    border-right: 5px solid #e7e7e7;
}

.side-menu .navbar-nav li
{
    display: block;
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
}

.side-menu .navbar-nav li a
{
    padding: 15px;
}

.side-menu .navbar-nav li a .glyphicon
{
    padding-right: 10px;
}

.side-menu #dropdown
{
    border: 0;
    margin-bottom: 0;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
}

.side-menu #dropdown .caret
{
    float: right;
    margin: 9px 5px 0;
}

.side-menu #dropdown .indicator
{
    float: right;
}

.side-menu #dropdown > a
{
    border-bottom: 1px solid #e7e7e7;
}

.side-menu #dropdown .panel-body
{
    padding: 0;
    background-color: #f3f3f3;
}

.side-menu #dropdown .panel-body .navbar-nav
{
    width: 100%;
}

.side-menu #dropdown .panel-body .navbar-nav li
{
    padding-left: 15px;
    border-bottom: 1px solid #e7e7e7;
}

.side-menu #dropdown .panel-body .navbar-nav li:last-child
{
    border-bottom: none;
}

.side-menu #dropdown .panel-body .panel > a
{
    margin-left: -20px;
    padding-left: 35px;
}

.side-menu #dropdown .panel-body .panel-body
{
    margin-left: -15px;
}

.side-menu #dropdown .panel-body .panel-body li
{
    padding-left: 30px;
}

.side-menu #dropdown .panel-body .panel-body li:last-child
{
    border-bottom: 1px solid #e7e7e7;
}

.side-menu #search-trigger
{
    background-color: #f3f3f3;
    border: 0;
    border-radius: 0;
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px 18px;
}

.side-menu .brand-name-wrapper
{
    min-height: 50px;
}

.side-menu .brand-name-wrapper .navbar-brand
{
    display: block;
}

.side-menu #search
{
    position: relative;
    z-index: 1000;
}

.side-menu #search .panel-body
{
    padding: 0;
}

.side-menu #search .panel-body .navbar-form
{
    padding: 0;
    padding-right: 50px;
    width: 100%;
    margin: 0;
    position: relative;
    border-top: 1px solid #e7e7e7;
}

.side-menu #search .panel-body .navbar-form .form-group
{
    width: 100%;
    position: relative;
}

.side-menu #search .panel-body .navbar-form input
{
    border: 0;
    border-radius: 0;
    box-shadow: none;
    width: 100%;
    height: 50px;
}

.side-menu #search .panel-body .navbar-form .btn
{
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    border-radius: 0;
    background-color: #f3f3f3;
    padding: 15px 18px;
}

/* Main body section */
.side-body
{
    margin-left: 310px;
}

/* small screen */
@media (max-width: 768px)
{
    .side-menu
    {
        position: relative;
        width: 100%;
        height: 0;
        border-right: 0;
        border-bottom: 1px solid #e7e7e7;
    }

    .side-menu .brand-name-wrapper .navbar-brand
    {
        display: inline-block;
    }

    /* Slide in animation */
    @-moz-keyframes slidein
    {
        0%
        {
            left: -300px;
        }
        100%
        {
            left: 10px;
        }
    }
    @-webkit-keyframes slidein
    {
        0%
        {
            left: -300px;
        }
        100%
        {
            left: 10px;
        }
    }
    @keyframes slidein
    {
        0%
        {
            left: -300px;
        }
        100%
        {
            left: 10px;
        }
    }
    @-moz-keyframes slideout
    {
        0%
        {
            left: 0;
        }
        100%
        {
            left: -300px;
        }
    }
    @-webkit-keyframes slideout
    {
        0%
        {
            left: 0;
        }
        100%
        {
            left: -300px;
        }
    }
    @keyframes slideout
    {
        0%
        {
            left: 0;
        }
        100%
        {
            left: -300px;
        }
    }
       /* Slide side menu*/
    /* Add .absolute-wrapper.slide-in for scrollable menu -> see top comment */
    .side-menu-container > .navbar-nav.slide-in
    {
        -moz-animation: slidein 300ms forwards;
        -o-animation: slidein 300ms forwards;
        -webkit-animation: slidein 300ms forwards;
        animation: slidein 300ms forwards;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }

    .side-menu-container > .navbar-nav
    {
        /* Add position:absolute for scrollable menu -> see top comment */
        position: fixed;
        left: -300px;
        width: 300px;
        top: 43px;
        height: 100%;
        border-right: 1px solid #e7e7e7;
        background-color: #f8f8f8;
        -moz-animation: slideout 300ms forwards;
        -o-animation: slideout 300ms forwards;
        -webkit-animation: slideout 300ms forwards;
        animation: slideout 300ms forwards;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }

    /* Uncomment for scrollable menu -> see top comment */
    /*.absolute-wrapper{
          width:285px;
          -moz-animation: slideout 300ms forwards;
          -o-animation: slideout 300ms forwards;
          -webkit-animation: slideout 300ms forwards;
          animation: slideout 300ms forwards;
          -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
      }*/
    @-moz-keyframes bodyslidein
    {
        0%
        {
            left: 0;
        }
        100%
        {
            left: 300px;
        }
    }
    @-webkit-keyframes bodyslidein
    {
        0%
        {
            left: 0;
        }
        100%
        {
            left: 300px;
        }
    }
    @keyframes bodyslidein
    {
        0%
        {
            left: 0;
        }
        100%
        {
            left: 300px;
        }
    }
    @-moz-keyframes bodyslideout
    {
        0%
        {
            left: 300px;
        }
        100%
        {
            left: 0;
        }
    }
    @-webkit-keyframes bodyslideout
    {
        0%
        {
            left: 300px;
        }
        100%
        {
            left: 0;
        }
    }
    @keyframes bodyslideout
    {
        0%
        {
            left: 300px;
        }
        100%
        {
            left: 0;
        }
    }
    /* Slide side body*/
    .side-body
    {
        margin-left: 5px;
        margin-top: 70px;
        position: relative;
        -moz-animation: bodyslideout 300ms forwards;
        -o-animation: bodyslideout 300ms forwards;
        -webkit-animation: bodyslideout 300ms forwards;
        animation: bodyslideout 300ms forwards;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }

    .body-slide-in
    {
        -moz-animation: bodyslidein 300ms forwards;
        -o-animation: bodyslidein 300ms forwards;
        -webkit-animation: bodyslidein 300ms forwards;
        animation: bodyslidein 300ms forwards;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }

    /* Hamburger */
    .navbar-toggle
    {
        border: 0;
        float: left;
        padding: 18px;
        margin: 0;
        border-radius: 0;
        background-color: #f3f3f3;
    }

    /* Search */
    #search .panel-body .navbar-form
    {
        border-bottom: 0;
    }

    #search .panel-body .navbar-form .form-group
    {
        margin: 0;
    }

    .navbar-header
    {
        /* this is probably redundant */
        position: fixed;
        z-index: 3;
        background-color: #f8f8f8;
    }

    /* Dropdown tweek */
    #dropdown .panel-body .navbar-nav
    {
        margin: 0;
    }
}

.dropdown-menu:after
{
    border: none !important;
    content: "" !important;
}
#previewfbsharedesc{
     width: 100%;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

body.bkimg {
    background-image: url("../images/rectangle-1.png");
    font-face: Maven Pro;
}
.footer {
    align-content: center;
    color:#ffffff;
}