<div class="channelist-container scrolling-container">
<div class="col-md-12  search-create-channel-block">
  <form>
    <div class="col-md-5">
    <div class="input-group">
        <input type="text" class="form-control  search-input form-input" ng-model="query" placeholder="Search for...">
        <span class="input-group-btn">
          <button class="btn btn-default search-btn" type="button"><i class="glyphicon glyphicon-search" aria-hidden="true"></i></button>
        </span>
    </div>
  </div>
</form>

<!-- <div class="float-right create-channel-block" ng-if="permissions.indexOf('create-channel') > -1">
  <a ng-href="#/create-chanel" class="btn primary-btn-alt" type="submit">Create Channel</a>
</div> -->

</div>
<div class="list-of-channels-container">
 <div class = "list-container">
   <h4 class="text-center">ACCOUNT DETAILS</h4>
   <table class="table channel-list-table">
       <thead>
           <tr>
               <th>Channel Title</th>
               <th>Category</th>
               <th>Age Group</th>
               <th>Total Subcriber Count</th>
           </tr>
       </thead>
       <tbody>
           <tr ng-repeat="chanel in chanels | filter:query | orderBy:orderPropAge | orderBy:orderPropCategory">
               <td style="cursor: pointer;color: #074e74 ; text-transform: capitalize;" ng-click="chaneldetail(chanel.channelId)" value="{{chanel.channelId}}">{{chanel.channelTitle}}</td>
               <td>{{chanel.category.categoryName}}</td>
               <td>{{chanel.ageGroup.ageGroupDescription}}</td>
               <td>{{chanel.noOfUsersSubscribed}}</td>
           </tr>

       </tbody>
   </table>
 </div>
</div>
</div>
















<!-- <div class="col-xs-9 content scrollingpart">
    <div class="align-center">
        <form>
            <p>Welcome User!</p>
            <a ng-href="#/create-chanel" class="submit-button button" type="submit">Create Channel</a>
        </form>
    </div>
    <div class="channel-list row">
        <div class="col-xs-6">
            <form>
                <div class="inner-addon right-addon">
                    <i class="glyphicon glyphicon-search"></i>
                    <input ng-model="query" type="text"   class="form-control" placeholder="Search" />
                </div>
                <div class="search-tools">
                    <div class="col-xs-4">
                        <select ng-model="orderPropCategory">
							<option value="">Category</option>
                            <option ng-repeat="categorie in categories" value="{{categorie.categoryName}}">{{categorie.categoryName}}</option>

						</select>
                    </div>
                    <div class="col-xs-4">
                        <select ng-model="orderPropAge">
                            <option value="">Age</option>
                            <option ng-repeat="age in ages" value="{{age.ageGroupDescription}}">{{age.ageGroupDescription}}</option>

						</select>
                    </div>
                    <div class="col-xs-4">
                        <button class="submit-button" type="submit">Search</button>
                    </div>
                </div>
            </form>

        </div>
        <table class="col-xs-12">
            <thead>
                <tr>
                    <th>Channel Title</th>
                    <th>Category</th>
                    <th>Age Group</th>
                    <th>Total Subcriber Count</th>
                </tr>
            </thead>
            <tbody>
                CHANELS LENGTH {{chanels.length}}
                <tr ng-repeat="chanel in chanels | filter:query | orderBy:orderPropAge | orderBy:orderPropCategory">
                    <td style="cursor: pointer;color: #074e74 ; text-transform: capitalize;" ng-click="chaneldetail(chanel.channelId)" value="{{chanel.channelId}}">{{chanel.channelTitle}}</td>
                    <td>{{chanel.category.categoryName}}</td>
                    <td>{{chanel.ageGroup.ageGroupDescription}}</td>
                    <td>{{chanel.noOfUsersSubscribed}}</td>
                </tr>

            </tbody>
        </table>
    </div>

</div> -->
