<div class="create-ad-block scrolling-container" ng-controller="CreateAdsController as $ctrl">
    <div ng-if="showLoader" class="adschannelsloader">
        <img src="{{adminUrl}}/img/new_images/loading_icon.gif" class="ajax-loader" />
    </div>
    <div class="error-blocks">
        <div class="modal" id="errormodal" ng-show="imageerrormsg">
            <div class="alert alert-warning modal-content ">
                <strong>Note!</strong> Image dimension should be equal to 700/90px.
                <span class="close" ng-click="close()" id="close">&times;</span>
            </div>
        </div>

        <div class="modal"  id="viewerrormodal" ng-show="viewerrormsg">
          <div class="alert alert-warning modal-content " >
            <strong>Note!</strong> Exceeded maximum no.of views
            <span class="close" ng-click="closeviewerror()" id="close">&times;</span> 
          </div>
        </div>

    </div>

    <div class="create-ad-container" id="globalADform">
        <h4 class="text-center addvartice-head">Create Advertisement</h4>
        <form class="create-ads-form" name="myForm" validate ng-submit="submitForm()">
            
            <div ng-controller="datepickerController">
                <div class="row">
                    <div class="col-md-3 form-group form-inline">
                        <input class="adsdatepicker col-md-6 form-control ads-form-input" placeholder="Start Date" type="" uib-datepicker-popup="{{format}}" datepicker-popup="MM-dd-yyyy" is-open="adStartDatePickerOpen" ng-model="createAdModel.input_adStartDate" required restrict-to=" " />
                        <button type="button" class="date-btn" ng-click="openAdStartDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </div>
                    <div class="col-md-3 form-inline form-group ">
                        <input class="adsdatepicker col-md-6 form-control ads-form-input" placeholder="End Date" type="" uib-datepicker-popup="{{format}}" min-date="createAdModel.input_adStartDate" datepicker-popup="MM-dd-yyyy" is-open="adEndDatePickerOpen" ng-model="createAdModel.input_adEndDate" required restrict-to=" " />
                        <button type="button" class="date-btn" ng-click="openAdEndDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </div>
                    <div class="form-group col-md-6">
                        <input class="form-control ads-form-input" placeholder="Enter Advertisement Title" maxlength="50" ng-keyup="adscheckCharactersLeft($event)" ng-model="createAdModel.contentTitle" required>
                        <span class="pull-right characterremaining-ads">{{char_remaining}} characters left. </span>
                    </div>

                </div>
            </div>

            <div class="row">
                <h4>Subscribed User's Count (<span class="countrow">Total User's Count: {{usercount}}</span>)</h4>
                <div class="col-sm-3">
                    <span class="text-center labelfortitle">Category</span>
                    <multiselect ng-model="categorylist" options="categories" display-prop="categoryName" id-prop="categoryId"> </multiselect>                 
                </div>
                <div class="col-sm-3">
                    <span class="text-center labelfortitle">Gender</span>
                    <multiselect ng-model="genderlist" options="gendergps" display-prop="genderName" id-prop="genderId" ng-change="getgender()"> </multiselect>
                </div>

                <div class="col-sm-3">
                    <span class="text-center labelfortitle">Age</span>
                    <multiselect ng-model="ageGrouplist" options="ages" display-prop="ageGroupDescription" id-prop="ageGroupId" ng-change="getUsercount()"> </multiselect>
                </div>
                <div class="col-sm-3 createaddcount">
                    <span class="text-center labelfortitle"></span>
                    <button ng-click="getUsercount()" type="button" class="btn btn-primary align-reset">Search</button>
                    <button ng-click="usercount=0; ageGrouplist=0; genderlist=0; categorylist=0;" type="button" class="btn align-reset">Reset</button>
                </div>
            </div>

        
            <div class="row paddingtop10px">
                <div class="form-group col-md-4">
                    <select ng-change="toggleFileupload()" ng-model="createAdModel.rateCardId" class="select-style form-control ads-form-input" style="margin: 0;width:100%;" required>
                        <option value="">File Type</option>
                        <option ng-repeat="ratecard in ratecards" value="{{ratecard.rateCardId}}">{{ratecard.contentType}}</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                   <input ng-change="updateAmount()" class="form-control ads-form-input" style="padding:20px" type="number" min="1" ng-model="createAdModel.viewsToPost" placeholder='Enter No. Views' required />
                </div>
                <div class="col-md-3">
                  <input  class="form-control ads-form-input" disabled style="padding:20px" type="number" ng-model="createAdModel.amount" placeholder='KES' required />
                </div>
                <div class ="col-md-1">
                 <span>KES</span>
                </div>   
            </div>

        <div class="row paddingtop10px">
            <div ng-show="adfile">
                <div class="fileUpload btn primary-btn-alt col-md-3">
                    <span>Choose File</span>
                    <input id="file" type="file" class="upload fileUpload" ngf-select ng-change="uploadcontentchange(this)" ng-model="filesUpload" name="imagefile" accept="image/*" ngf-max-size="50MB" ngf-model-invalid="errorFile" ng-required="adfile">
                </div>

                <div class="alert alert-warning">
                  <strong>Note!</strong> Image dimension should be equal to 700/90px.
                </div>

                <div class="filename-uploaded" ng-if="filesUpload.name">
                    <div class = "col-sm-6 col-md-3">
                      <img src ="{{imageUrl}}" alt = "image thumbnail" width="700" height="90">
                      <span class="uploadfilename">{{filesUpload.name}}<i ng-click="clearfile()" class="glyphicon glyphicon-remove file-remove" aria-hidden="true"></i></span>
                   </div>
                </div>
            </div>

            <div ng-show="adaudiofile">
                <div class="fileUpload btn primary-btn-alt col-md-3">
                    <span>Choose File</span>
                    <input id="file" type="file" class="upload fileUpload" ngf-select ng-model="filesUpload" name="audiofile" accept="audio/mp3,audio/mp4,audio/m4a" ngf-max-size="50MB" ngf-model-invalid="errorFile" ng-required="adaudiofile">
                </div>

                <div class="filename-uploaded" ng-if="filesUpload.name" style="float:none;">
                    <div class="col-sm-6 col-md-3">
                        <span class="uploadfilename">{{filesUpload.name}}<i ng-click="clearfile()" class="glyphicon glyphicon-remove file-remove" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>

            <div ng-show="advideofile">
                <div class="fileUpload btn primary-btn-alt col-md-3">
                    <span>Choose File</span>
                    <input id="file" type="file" class="upload fileUpload" ngf-select ng-model="filesUpload" name="videofile" accept="video/mp4" ngf-max-size="50MB" ngf-model-invalid="errorFile" ng-required="advideofile">
                </div>

                <div class="filename-uploaded" ng-if="filesUpload.name" style="float:none;">
                    <div class="col-sm-6 col-md-3">
                        <span class="uploadfilename">{{filesUpload.name}}<i ng-click="clearfile()" class="glyphicon glyphicon-remove file-remove" aria-hidden="true"></i></span>
                    </div>
                </div>

            </div>

            <div ng-show="progressVisible" style="margin-top: 10px;">
                <div class="percent" style="margin-top: -3px;">{{progress}}%</div>
                <div class="progress-bar">
                    <div class="uploaded" ng-style="{'width': progress+'%'}"></div>
                </div>
            </div>

            <i ng-show="myForm.filesUpload.$error.required">*required</i>
            <br>
            <i ng-show="myForm.file.$error.maxSize">File too large {{errorFile.size / 1000000|number:1}}MB: max 50MB</i>

            <div class="clearfix"></div>
            <img ng-show="myForm.file.$valid" ngf-thumbnail="createAdModel" class="thumb">
        
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <input class="form-control ads-form-input" type='text' ng-model="createAdModel.contentText" placeholder='Enter Content Text' required />
            </div>

            <div class="form-group col-md-6">
                <input class="form-control ads-form-input" type='text' ng-model="createAdModel.adLink" placeholder='Enter Ad Link' required/>
            </div>
        </div>

        <span class="error_msg date-error" ng-show="error_msg == true">{{cat_not_selected}}</span>

        <div class="row paddingtop10px float-right">
            <button type='submit' class="btn btn-primary" ng-submit="submitForm()">Submit</button>
            <button ng-click="cancel()" class="btn primary-cancel-btn">Cancel</button>
            <span ng-show="createAdModel.result">Upload Successful</span>
            <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
        </div>
    
    </form>
</div>
</div>
