<div class="createchannel-container scrolling-container">
    <h4 class="text-center">Create Channel</h4>
    <div class="modal"  id="errormodal" ng-show="imageerrormsg">
    <div class="alert alert-warning modal-content " >
    <strong>Note!</strong> Image dimension should be equal to 600/600px (or) if it's lesser then the given value then height and width should be equal.
      <span class="close" ng-click="close()" id="close">&times;</span> 
    </div>
    </div>
     <div class="alert alert-warning">
                        <strong>Note!</strong> Image dimension should be equal to 600/600px (or) if it's lesser then the given value then height and width should be equal.
                      </div>
    <div class="createchannel-block">
  

        <form name="channelform">

            <div class="col-md-3">
                      <div class="filename-uploaded" ng-if="filesUpload.name">
              <div class = "col-sm-6 col-md-3">
                  <img src ={{imageUrl}} alt = "image thumbnail" width="150" height="150">
                  <span class="uploadfilename">{{filesUpload.name}}<i ng-click="clear()" class="glyphicon glyphicon-remove file-remove" aria-hidden="true"></i></span>
               </div>
            </div>
                <div class="file-upload-age-category-block">

                    <div class="addimagediv">
                        <h4 class="addimagetitle">Add Channel Image</h4>

          <div class="fileUpload btn primary-btn-alt col-md-8">
            <span>Choose File</span>
                            <input id="file" class="channel-imagecon upload" type="file" ng-change="profilepicupload(this)" ng-click="modaluierror()" ngf-select ng-model="filesUpload" name="file" accept="image/*" ngf-max-size="10MB" ngf-model-invalid="errorFile" required="">
                           
                            <i ng-show="channelform.file.$error.maxSize">File too large {{errorFile.size / 1000000|number:1}}MB: max 10MB</i>
                            <img ng-show="channelform.file.$valid" ngf-thumbnail="createModel" class="thumb">
                        </div>
                    </div>

                    <div class="form-group col-md-9">
                        <select class="form-control form-input-control" ng-model="createModel.ageGroupId" id="sel1" required>
          <option value="">Age</option>
          <option ng-repeat="age in ages" value="{{age.ageGroupId}}">{{age.ageGroupDescription}}</option>
          </select>
                    </div>
                    <div class="form-group col-md-9">
                        <select class="form-control form-input-control" ng-model="createModel.categoryId" id="sel1" required>
       <option value="">Category</option>
       <option ng-repeat="categorie in categories" value="{{categorie.categoryId}}">{{categorie.categoryName}}</option>
      </select>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="form-group col-md-9">
                    <input class="form-control form-input-control" ng-model="createModel.channelTitle" placeholder="Enter Channel Title" required maxlength="50" ng-keyup="checkCharactersLeft($event)" />
                    <span class="pull-right characterremaining">{{char_remaining}} characters left. </span>
                </div>
            </div>
            <div class="col-md-9">
                <div class="form-group col-md-9">
                    <textarea class="form-control form-input-control" ng-model="createModel.channelDescription" placeholder="About Channel" required />
                </div>
            </div>

        
            <div class="float-right channelcreate-submitblock">
                <button class="btn primary-btn-alt"  ng-click="submitForm()" type='submit' value='Create'>Create</button>
                <a class="btn primary-cancel-btn" ng-href="#/home" type='button' class="cclbutton" value='Cancel'>Cancel</a>
            </div>

        </form>
    </div>
    
</div>









