<div class="subscribedlist-container scrolling-container">
    <!-- <div class="subscribuser-block"  ng-repeat="subscribuser in subscribusers">
      <p>{{subscribuser.channelTitle}}</p>
      <p class="desc">{{subscribuser.noOfUsersSubscribed}}<span>Subscriber</span></p>
    </div> -->
    <div class="container-fluid">
    <div class="row">
          <div class="col-md-3" ng-repeat="subscribuser in subscribusers">
          <div class="displayinline">
            <div class="content subscribuser-block">
            <p class="subscribed-channeltitle">{{subscribuser.channelTitle}}</p>
            <span>Subscriber</span>
            <p>{{subscribuser.noOfUsersSubscribed}}</p>
          </div>
        </div>
      </div>
      </div>
        </div>
</div>
</div>






<!-- <div class="col-xs-9 content">
    <div class="row subscriber-view">
        <h5>SUBSCRIBED USERS{{subscribs.length}}</h5>
        <div class="col-xs-3 col" ng-repeat="subscrib in subscribs">
            <p>{{subscrib.subscount}}</p>
            <p class="desc">{{subscrib.desc}}</p>
        </div>

    </div>
    <div class="row subscriber-view">
        <h5>SUBSCRIBED USERS / CHANNEL</h5>
        <div class="col-xs-2 col-2" ng-repeat="subscribuser in subscribusers">
            <p>{{subscribuser.channelTitle}}</p>
            <p class="desc">{{subscribuser.noOfUsersSubscribed}}<span>Subscriber</span></p>
        </div>
    </div>

</div> -->
