@import url('https://fonts.googleapis.com/css?family=Maven+Pro');
body {
    font-family: 'Maven Pro', sans-serif;
    font-size: 16px;
    height: 100%;
    background-color: #fbf0e2;
    color: #4b4b4b;
    overflow: hidden;
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
    -webkit-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;
    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s;
    /* Firefox < 16 */
    -ms-animation: fadein 2s;
    /* Internet Explorer */
    -o-animation: fadein 2s;
    /* Opera < 12.1 */
    animation: fadein 2s;
}

.background-container {
    background-image: url('../img/new_images/background.png');
    background-size: cover;
    height: 570px;
}

.displayinline {
    display: inline;
}

.login-signup-container {
    margin: 10% 30% 0%;
    background: #000000;
    background: rgba(0, 0, 0, .5);
    color: #ffffff;
    padding: 0px;
    border-radius: 8px;
    font-size: 16px !important;
    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s;
    /* Firefox < 16 */
    -ms-animation: fadein 2s;
    /* Internet Explorer */
    -o-animation: fadein 2s;
    /* Opera < 12.1 */
    animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Firefox < 16 */

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Internet Explorer */

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Opera < 12.1 */

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.logo-container {
    background: #fff;
}

.logo {
    margin: 2% 40%;
}

.primary-btn-alt {
    background: #da8420 !important;
    padding: 10px 30px;
    font-size: 16px;
    color: #fff;
    border-radius: 4 %;
}

.primary-btn-alt:focus,
.primary-btn-alt:hover {
    color: #fff;
}

.login-btn {
    margin: 2% 30%;
}

.search-btn {
    padding: 9px 15px 11px;
    background: rgba(0, 0, 0, .5);
    border: 1px solid #575757;
    border-left: 0px;
}

.search-btn>i {
    color: #575757;
}

.search-input {
    border-right: 0px !important;
}

.login-form {
    padding: 0 20px 0px 80px;
}

.form-input {
    padding: 0px 10px!important;
    margin-bottom: 10px;
    border: 1px solid #575757;
    background: rgba(0, 0, 0, .5);
    color: #fff;
    height: 42px;
}

.form-input:focus {
    border-color: #da8420
}

.login-signup-block>li,
.login-signup-block>li:hover,
.login-signup-block>li:focus {
    color: #fff !important;
    opacity: 0.9;
    padding: 0px !important;
}

.login-signup-block>li>a {
    color: #ffffff !important;
    ;
    border: 0px !important;
    font-size: 16px;
    font-weight: 500;
}

.login-signup-block>li>a:hover,
.login-signup-block>li>a:focus {
    background: #000000;
}

.login-signup-block>.active>a {
    background: #000000 !important;
    color: #ffffff;
    opacity: 0.8;
    border: 0px !important;
}

.login-panel {
    margin-top: 4%;
}

input[type=radio]:checked ~ .check::before {
    background: #0DFF92 !important;
}

.login-signup-block {
    border: 0px;
}

.login-segment {
    margin-top: 15%;
}

input[type='radio']:after {
    width: 14px;
    height: 14px;
    border: 2px solid #ccc;
    border-radius: 20px;
    top: 8.5px;
    left: -1px;
    position: relative;
    background-color: #ffffff;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid #949090;
}

input[type='radio']:checked:after {
    width: 14px;
    height: 14px;
    border-radius: 15px;
    top: 8.5px;
    left: -1px;
    position: relative;
    border: 2px solid #ccc;
    background-color: #ffa500;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 0px solid white;
}

input[type='radio']:hover,
input[type='radio']:focus,
input[type='radio']:active {
    background: none;
    border: 0px;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.login-type {
    margin-left: 10%;
    font-weight: 100;
}

.busfirelogo {
    background-image: url('../img/new_images/BushFireLogo.png');
    z-index: -9999;
}

.container-navbar {
    background: #000000;
    background: rgba(0, 0, 0, .1);
    height: 192px;
    z-index: 9999;
}

.topnavbar {
    background: url('../img/new_images/background.png') 0px 99% no-repeat;
    border-radius: 0px;
    border: 0px;
    height: 137px;
    margin-bottom: 0px !important;
    background-size: 100%;
}

.navbar-menu>.active {
    border: 0px !important;
}

.navbar-menu>.active>a {
    color: #da8420 !important;
}

.ads-menu>.active>a {
    color: #da8420 !important;
}

.navbar-menu>li>a {
    color: #ffffff;
    font-size: 16px;
    padding: 30px 24px 0px;
}

.navbar-menu>li>a:hover,
.navbar-menu>li>a:focus {
    background-color: rgba(0, 0, 0, .1) !important;
    color: #da8420 !important;
}

.navbar_logo {
    padding: 30px 30px;
}

.navbar-container {
    margin-top: 2%;
}

.float-right {
    float: right;
}

.create-channel-block {
    padding: 0px 40px;
}

.search-create-channel-block {
    position: absolute;
    top: 12%;
    padding-left: 4%;
}

.channelist-container,
.subscribedlist-container {
    background-color: #fbf0e2;
    padding-top: 2%;
}

.subscribedlist-container {
    height: 400px;
    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s;
    /* Firefox < 16 */
    -ms-animation: fadein 2s;
    /* Internet Explorer */
    -o-animation: fadein 2s;
    /* Opera < 12.1 */
    animation: fadein 2s;
}

.list-container {
    background: #fff;
    padding: 0.7% 0%;
    margin: 0% 5% 0%;
    box-shadow: 0.5px 0.5px 1px 1px #888888;
    border-top: 1px solid #ccc;
}

.channelist-container {
    background-color: #fbf0e2;
    overflow-y: scroll;
    height: auto;
    height: 550px;
    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s;
    /* Firefox < 16 */
    -ms-animation: fadein 2s;
    /* Internet Explorer */
    -o-animation: fadein 2s;
    /* Opera < 12.1 */
    animation: fadein 2s;
}

.scrolling-container::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff;
}

.scrolling-container::-webkit-scrollbar {
    width: 5px;
    background-color: #da8420 !important;
}

.scrolling-container::-webkit-scrollbar-thumb {
    background-color: #da8420 !important;
    width: 2px;
}

.channel-list-table>thead {
    background: #3e3e3e;
    color: #fff;
}

.channel-list-table>thead>tr>th {
    text-align: center;
    padding: 2% 3%;
}

.channel-list-table>thead>tr>th:first-child {
    text-align: left;
}

.channel-list-table {
    border: 1px solid #ccc;
}

.channel-list-table>tbody>tr>td {
    text-align: center;
    padding: 10px 2%;
}

.channel-list-table>tbody>tr>td:first-child {
    text-align: left;
}

.list-of-channels-container {
    padding-bottom: 8%;
}

.subscribuser-block {
    background: #fff;
    margin-left: 4%;
    margin-top: 5%;
    border-radius: 3.5%;
    height: 100px;
    padding: 2% 2% 7%;
    box-shadow: 2px 2px 2px 2px #e3d9cd;
}

.subscribedlist-container,
.channeldetail-container {
    position: absolute;
    padding: 1%;
    background-color: #fbf0e2;
}

.subscribedlist-container {
    max-height: 100% !important;
    height: 500px;
    overflow-y: scroll;
    width: 100%;
}

.subscribed-channeltitle {
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.channel-profile-img {
    width: 101px;
    height: 101px;
    border-radius: 50%;
}

.profile-img {
    float: left;
    margin-top: 4%;
}

.profile-details {
    padding-left: 20px;
}

.profile-details-block {
    padding-left: 41%
}

.channeldetail-container {
    width: 100%;
    max-height: 800px;
    height: auto;
    overflow-y: scroll;
}

.channeldescription {
    border-left: 1px solid #a1a1a1;
}

.channel-title {
    font-size: 25px;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 5px 12 %;
    width: 200px;
    color: #4b4b4b;
    text-transform: capitalize;
    height: 50px;
}

.category-name-block {
    margin-top: 7px;
}

.content-bar {
    padding: 0% 5% 0% 5%;
}

.channeldescription {
    height: 127px;
    padding: 20px 40px;
    overflow-y: scroll;
}

.channel-deatils {
    padding: 2% 3%;
}

.gallery {
    padding: 30px 40px 10% 40px;
    background: #ffffff;
    box-shadow: 1px 0.5px 0.5px 0.5px #e3d9cd;
}

.gallery .col-md-3 {
    width: 17.8%;
}

.thumbnail {
    position: relative;
}

.button.uploaded_content {
    width: 100%;
    border: 0px;
    padding: 0px;
    background: none;
    text-align: center !important;
}

.button.uploaded_content img {
    height: 130px !important;
    margin: 0px auto !important;
    border-radius: 4px !important;
}

.uploaded_content>img {
    display: block;
    height: 130px !important;
    margin: 0px auto !important;
}

.icon {
    width: 25px !important;
    height: 25px !important;
    position: absolute;
    right: 10px;
    bottom: 75px;
}

.thumbnail {
    display: block;
    padding: 0px!important;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    border-radius: 10px;
}

button.uploaded_content img.icon {
    width: 25px !important;
    height: auto !important;
    position: absolute;
    right: 10px;
    bottom: 50px;
}

button.uploaded_content img:hover {
    background: rgba(0, 0, 0, .5);
}

.uploaded-block {
    margin: 10px 15px 0px;
}

.uploaded-content {
    margin: 60px 50px 35%;
}

.uploaded_content {
    width: 100%;
    border: 0px;
    padding: 0px !important;
    background: none;
    text-align: center !important;
    z-index: 99999;
}

.uploaded_content>.content-img {
    border-radius: 4px;
}

.upload-content-buton-block {
    margin-bottom: 5%;
}

.uploaded-content-title {
    margin-left: 30px;
}

.thumbnail-footer {
    background: #8a8a8a;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.thumbnail-footer >p {
    color: #fff;
    text-align: center;
    padding: 2px;
    width: 163px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    left: 0;
    height: 53px;
    filter: alpha(opacity=0);
}

.form-input-control {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin: 4% 0px 0%;
}

.createchannel-block {
    background: #fff;
    height: 420px;
    box-shadow: 1px 0px 5px #888888;
}

.createchannel-container {
    padding: 0.5% 3%;
    height: 700px;
}

.addimagetitle {
    margin-left: 15%;
}

.addimagediv {
    margin-bottom: 15%;
}

.primary-cancel-btn {
    background: #8a8a8a !important;
    padding: 10px 30px;
    font-size: 16px;
    color: #fff;
    border-radius: 4 %;
}

.channelcreate-submitblock {
    margin-top: 7.5%;
    margin-right: 3%;
}

textarea {
    resize: vertical;
    height: 70px !important;
}

.characterremaining {
    position: absolute;
    top: 35px;
    left: 78%;
    opacity: 0.4;
}

.filename-uploaded {
    padding: 10px;
    /*  float: right;*/
}

.filename-uploaded >span {
    background: #8a8a8a !important;
    width: 120px;
    margin: 10px 0px;
    border-radius: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
}

.filename-uploaded>span:after {}

.chatlist-container {
    margin: 20px 50px 0px;
    height: 500px;
    -webkit-animation: fadein 1s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s;
    /* Firefox < 16 */
    -ms-animation: fadein 1s;
    /* Internet Explorer */
    -o-animation: fadein 1s;
    /* Opera < 12.1 */
    animation: fadein 1s;
}

.chatUL {
    overflow-y: scroll;
}

.container-chat {
    padding: 0px;
    background: #fff;
    weight: 350px !important;
    box-shadow: 0.5px 1.5px 1.5px 2px #888888;
}

.chatUL {
    padding: 20px 0px 0px;
    height: 310px;
    margin: 0px;
}

.chatUL>li {
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chatUL>li>span {
    float: right;
}

.chat-searchfile {
    margin: 10px 10px 0px 20px;
    width: 250px !important;
}

.chat-title {
    padding: 20px;
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    background: none;
}

.search-item>p {
    margin-left: 20px;
}

.chat-search-btn {
    top: 5px;
    right: 114px;
    border-left: none;
    color: #ccc;
}

.active {
    border-left: 3px solid #da8420;
}

.container-chat-user {
    border: 1px solid #ccc;
    padding: 0px;
    background: #fff;
    box-shadow: 0.5px 1.5px 1.5px 2px #888888;
    height: 430px;
    z-index: 99999;
    weight: 350px !important;
}

.chatting-container {
    border: 1px solid #ccc;
    padding: 0px;
    background: #fff;
    weight: 363px !important;
    box-shadow: 0.1px 1.5px 1.5px 2px #888888;
    weight: 140px !important;
    height: 430px;
}

.username-title {
    background: #f1f1f1;
}

.panel-body {
    background: #fff;
}

.msg_container_base {
    height: 250px;
    overflow-y: scroll;
}

.messages {
    background: #d9d9d9;
    padding: 10px;
    font-size: 13px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    max-width: 100%;
}

.messages > .time {
    font-size: 11px;
    color: #ccc;
}

.primary-msg-btn {
    height: 36px !important;
    padding-bottom: 30px;
}

.chat_input {
    height: 42px !important;
}

.closeicon {
    padding: 27px;
    color: #000;
    font-size: 12px;
    font-weight: 100;
}

.chat-main-title {
    margin-left: 4%;
}

.characterremaining-upload {
    top: 43%;
    position: absolute;
    left: 78%;
    color: #ccc;
}

.upload-radio:after {
    top: -4px !important;
    border: 2px solid #000;
    cursor: pointer;
}

.radio-text-img {
    margin-left: 10px;
}

.input[type='file'] {
    display: none;
}

.display-none {
    display: none !important;
}

.modal-content {
    background: #ffffff;
}

.fileuploaded {
    background: #8a8a8a !important;
    margin: 10px 10px;
    border-radius: 50px;
}

.fileuploaded>span {
    width: 150px;
    text-align: center;
    word-wrap: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 15px;
}

.fileuploaded>i {
    padding: 10px;
}

.UploadedContentPopupOverlay,
.EditContentPopupOverlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.UploadContentPopUp {
    margin-bottom: 30px;
    border-radius: 5px;
    top: 75px;
    background: #ffffff;
    ;
    margin: 0px auto;
    text-align: center;
    float: none !important;
    padding: 10px 0px;
    width: 740px;
    height: auto !important;
    height: 800px;
    position: relative;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

.UploadContentPopUp img {
    max-width: 680px;
    width: 100% !important;
    margin: 0px auto !important;
    height: 100%;
    max-height: 350px;
    border: none !important;
}

.UploadContentPopUp audio {
    margin: 0px auto !important;
}

.UploadContentPopUp video {
    max-width: 680px;
    width: 100% !important;
    margin: 0px auto !important;
    height: 100%;
    background-size: 100% 100% !important;
}

.UploadContentPopUp h2,
.UploadContentPopUp p {
    text-align: left;
    font-size: 18px;
    font-weight: bold;
}

.UploadContentPopUp p {
    margin-top: 15px;
    font-size: 12px;
    font-weight: 100;
}

.icon-delete {
    top: 5px;
    border-radius: 20px;
    right: 5px;
}

.content-img:hover + .icon-delete {
    visibility: visible;
}


/*adds*/

.create-advertisment-block {
    height: 570px;
    overflow-y: scroll;
    margin: 1% 0%;
    padding-bottom: 5%;
}

@media (min-width: 1660px) {
    .create-advertisment-block {
        height: 914px;
    }
}

.ads-search-block {
    background: #fff;
    /*  height:500px;*/
    margin: 1% 0%;
    box-shadow: 1px 1px 5px 1px #888888;
    padding: 0px 0px 15px 0px;
}

.heading-title-ad {
    padding: 2% 0px;
    font-weight: 500;
    font-size: 20px;
}

.create-advertisment-button {
    margin: 2% 37%;
}

.btn-block,
.btn-block:hover {
    background: #004777 !important;
    border: 0px;
    color: #fff;
}


/*.ads-filter-block{
  margin-left: 4%
}*/

.mgntop10 {
    margin-top: 10%;
}

.btn-alt-filter {
    width: 100%;
    height: 43px;
    border-radius: 14px;
}

.labelfortitle {
    margin: 25%;
}

.ads-list-table {
    background: #fff;
    margin-top: 2%;
    padding: 20px 20px;
    width: 100%;
    box-shadow: 1px 5px 5px 1px #888888;
}

.advet-list-table {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #c0c0c0;
}

.advet-list-table>thead {
    background: #3e3e3e;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.advet-list-table>thead>tr>th {
    padding: 10px;
    vertical-align: middle;
    min-width: 125px;
}

.advet-list-table>tbody>tr>td {
    padding: 10px;
    vertical-align: middle;
    border-bottom: 1px solid #ccc;
}

.search-btn-ads {
    margin: 10% 0% 0% 42%;
    padding: 10px;
}


/*.rate-card-block{
  margin-top: 2%;
  margin-right:20px;
}*/

.create-ad-block {
    height: 585px;
    overflow-y: scroll;
}

.create-ads-form {
    padding: 20px 3%;
}

.date-btn,
.adsdatepicker {
    display: inline;
    background: #fff;
    height: 43px;
}

.date-btn {
    right: 30px;
    position: absolute;
    border-left: 0px;
    border: 1px solid #ccc;
}

.adsdatepicker {
    width: 90% !important;
}

.paddingtop10px {
    padding-top: 40px;
}

.create-ad-container {
    background: #fff;
    margin: 2%;
    height: 100%;
    min-height: 960px;
}

.btn-primary {
    background: #004777 !important;
}

.ads-form-input {
    height: 43px;
}

.rate-list>thead {
    background: #3e3e3e;
    color: #fff;
    padding: 20px;
}

.rate-list {
    float: right;
    width: 100%;
    border: 1px solid #ccc;
}

.rate-list>thead>tr>th {
    padding: 5px 10px;
}

.rate-list>tbody>tr {
    border-bottom: 1px solid #ccc;
}

.error_msg {
    float: right !important;
    color: red;
    margin: 2% 30%;
    width: 270px;
}

.progress-bar {
    width: 300px;
    height: 14px;
    border-radius: 10px;
    border: 1px solid #CCC;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#6666cc), to(#4b4b95));
    border-image: initial;
}

.search-btn:hover,
.search-btn:focus,
.btn-default:active:focus,
.btn-default:active:hover {
    background: rgba(0, 0, 0, .5);
}

.search-input:focus ~ .search-btn {
    border-color: #da8420;
}

.fileuploaded_popup {
    float: right;
    background: #ccc;
    padding: 10px 20px;
    border-radius: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 188px;
}

.seacrbtngroup>span {
    z-index: 99;
}

.search-input:focus {
    border-color: none !important;
    outline: 0;
    -webkit-box-shadow: 0px;
    box-shadow: 0px;
}

.userImage {
    background: url('../img/new_images/profile.png')
}

.content-text {
    overflow-y: scroll;
    height: 200px;
    padding: 50px 20px
}

.channeltitle {
    float: left !important;
}

.characterremaining-ads {
    margin-top: 10px;
}

.uploadfilename {
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    background: rgb(182, 215, 238);
    border-radius: 2px;
    padding: 5px 24px;
    margin: 6px auto;
    text-transform: capitalize;
}

.dropdown-menu>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
}

.contentuserlist-chat {
    width: 200px;
    float: left !important;
    width: 12em;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
    display: inline-block;
}

.rate-list>thead>tr>th {
    text-align: center;
}

.rate-list>tbody>tr>td {
    text-align: center;
    padding: 10px 0px;
}

.advet-list-table>tbody>tr>.adtitleintable {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 200px !important;
}

.adschannelsloader {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: grey;
    opacity: .8;
}

.ajax-loader {
    margin: 8% 50%;
    width: 100px;
}

.file-remove {
    font-size: 12px;
    /*float: right;*/
    padding: 6px;
    /*width:120px;*/
}

.error-msg {
    z-index: 9999;
    position: absolute;
    left: 14%;
    top: -21%;
}

.error-msg {
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
    -webkit-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;
}

.error-blocks {
    position: fixed;
    z-index: 9999;
}

.modal {
    display: block !important;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 40px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}


/* Modal Content (image) */

.modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 680px;
}

.modal-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

.close {
    position: absolute;
    top: 1px;
    right: 14px;
    color: #777;
    font: 40px/100% arial, sans-serif;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.icon-edit {
    top: 40px;
    border-radius: 20px;
    right: 5px;
    width: 28px !important;
    height: 28px !important;
}

.filename {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 220px;
    width: 123px;
    float: left;
}

.close_popUp {
    cursor: pointer;
    right: 10px;
}

.popuptitle {
    font-size: 28px;
    font-weight: 600;
    text-transform: capitalize;
}

.popupsub {
    font-size: 18px;
    margin: 15px auto 10px auto;
    float: left;
    width: 100%;
    text-align: left;
}

.popup-content {
    max-height: 120px;
    padding: 0px 20px;
    font-size: 18px !important;
}

.idit-single {
    top: 0px !important;
}

.uploadselect {
    font-size: 18px;
    line-height: 21px;
}

#editchannellform {
    padding: 10px 20px;
}

.editchannell {
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    float: left;
    width: 100%;
    text-align: left;
}

.modal-dialog {
    width: 680px !important;
}

.modal-body {
    position: relative;
    padding: 10px 25px;
}

.editinput {
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    height: 34px;
    padding: 10px 0px 0px 0px;
    font-size: 16px;
    line-height: 26px;
}

#firsteditchannel .primary-btn-alt {
    width: 141px !important;
    font-size: 16px !important;
    padding: 4px 4px !important;
    height: 32px !important;
}

.firsteditchannelform .form-control:focus {
    border: none;
    border-color: #ffffff;
    outline: 0;
    border-bottom: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.075), 0 0 8px rgba(255, 255, 255, 0.6);
}

.popup-footer {
    margin-top: 20px;
}


/*CSS by Yogeesh*/
/*CSS for Add home template*/

.ads-filter-block,
.rate-card-block {
    border-radius: 8px;
    margin: 10px;
    padding: 16px;
    width: 100%;
}

.ads-search-tools,
.rate-list {
    border: 1px solid #c0c0c0;
    border-radius: 8px;
    margin: 10px;
    padding: 16px;
    float: right;
    width: 100%;
}

.ads-search-block h4.heading-title-ad {
    font-weight: bolder;
    font-size: 20px;
    margin: 0px;
    padding: 15px;
    border-bottom: 1px solid #d8d8d8;
}

.countrow {
    color: #004777;
}

.ads-filter-block .btn-block,
.btn-block:hover {
    background: #ffffff !important;
    border: 0px;
    color: #4b4b4b;
}

.ads-filter-block .btn-primary {
    background: #ffffff !important;
    border-color: #c0c0c0;
    border-radius: 6px;
    padding: 0px;
}

.ads-filter-block .btn-alt-filter {
    height: 38px;
}

.ads-filter-block .labelfortitle {
    margin: 8px 0px;
    font-size: 17px;
    float: left;
}

.ads-filter-block .caret {
    border-top: 7px dashed;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    float: right;
    position: relative;
    top: 10px;
}

.ads-filter-block .dropdown-menu>li>a {
    display: block;
    padding: 3px 16px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #4b4b4b;
    white-space: nowrap;
    font-size: 16px;
    text-transform: capitalize;
}

.ads-filter-block button {
    padding: 0px;
    text-align: left;
    padding: 6px 12px;
    font-size: 16px;
    /*    height: 35px;*/
}

.ads-filter-block .dropdown-menu>li>a {
    overflow-x: hidden !important;
    width: 157px;
    overflow-x: hidden !important;
    text-overflow: ellipsis;
}

.ads-filter-block .add-search {
    background-color: #004677 !important;
    padding: 6px 0px;
    margin: 7% 0% 2% 36%;
    width: 177px;
    text-align: center;
    font-size: 17px;
}

.dropdown-menu {
    max-height: 200px;
}

.btn-primary:focus {
    outline: none;
}

.add-start {
    max-width: 65px;
    padding: 5px 0px;
    border: none;
    margin: auto;
    width: 100%;
}


/*CSS for create add template*/
.addvartice-head {
    font-weight: bolder;
    font-size: 20px;
    margin: 0px;
    padding: 15px;
    border-bottom: 1px solid #d8d8d8;
}

.create-ad-block .countrow {
    color: #004777;
}

.create-ad-block .labelfortitle {
    margin: 8px 0px;
    font-size: 17px;
    float: left;
}

.create-ad-block h4 {
    margin: auto 13px;
}

.create-ad-block .btn-block{
    background: #ffffff !important;
    color: #4b4b4b;
    border: 1px solid #d8d8d8;
}


.create-ad-block .btn-alt-filter {
    height: 38px;
}

.create-ad-block .labelfortitle {
    margin: 8px 0px;
    font-size: 17px;
    float: left;
}

.create-ad-block .caret {
    border-top: 7px dashed;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    float: right;
    position: relative;
    top: 10px;
}

.create-ad-block .dropdown-menu>li>a {
    display: block;
    padding: 3px 16px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #4b4b4b;
    white-space: nowrap;
    font-size: 16px;
    text-transform: capitalize;
}

.create-ad-block button {
    padding: 0px;
    text-align: left;
    padding: 6px 12px;
    font-size: 16px;
    /*    height: 35px;*/
}

.create-ad-block .dropdown-menu>li>a {
    overflow-x: hidden !important;
    width: 157px;
    overflow-x: hidden !important;
    text-overflow: ellipsis;
    width: 100%;
}

.create-ad-block .add-search {
    background-color: #004677 !important;
    padding: 6px 0px;
    margin: 7% 0% 2% 36%;
    width: 177px;
    text-align: center;
    font-size: 17px;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    color: #fff !important;
}
.align-reset{
l    width: 110px;
    text-align: center !important;
}
.createaddcount{
    padding: 38px 0px 0px 33px;
}
.date-error{
    width: 100%;
    text-align: right;
    margin: auto;
}


.switch {
    width: 80px;
}
.switch.checked small {
    left: 50px;
}
.switch .switch-text {
    font-size: 13px;
    text-transform: uppercase;
}
.switch .on {
    top: 23%;
}
.switch .off {
    top: 23%;
}